body {
  font-family: 'Mate', serif;
  padding: 0;
}

header {
  margin: -1.5em;
  background-color: #333;
  height: 4.5em;
}

.container,
nav,
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(750px - (33px * 2));
  padding-left: 33px;
  padding-right: 33px;
  position: relative;
}

nav a {
  color: #fff;
  line-height: 4.5em;
}

nav a:hover,
nav a:focus {
  color: #00ff79;
}

nav a,
footer a {
  display: inline;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 20px;
  padding: 0;
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

main {
  padding-top: 1em;
}

h1 {
  font-size: 2.5em;
}

p {
  color: #333;
  font-size: 1.25em;
  line-height: 1.15em;
}

li {
  margin-bottom: 0.5em;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 1em;
  padding-top: 1em;
}

ul.posts {
  font-size: 1.25em;
  margin: 20px 0 40px -40px;
}

ul.posts li {
  list-style: none;
}

.top,
.bottom,
.left,
.right {
  background: #00ff79;
  position: fixed;
}

.left,
.right {
  bottom: 0;
  top: 0;
  width: 5px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top,
.bottom {
  height: 5px;
  left: 0;
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.post-date {
  display: block;
  font-size: .75em;
  font-style: italic;
  padding-bottom: .75em;
}

.quote {
  color: #fff;
  font-size: .375em;
}

.yearbooks {
  list-style-type: circle;
}

.intro {
  font-size: 1.25em;
  line-height: 1.15em;
  margin-bottom: 1em;
}

.skip a
{
  color: #fff;
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}

.skip a:focus
{
  color: #00ff79;
  height:auto;
  position:static;
  width:auto;
}

@-ms-viewport {
  width: device-width;
}
