/* Selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0b57f1;
  text-decoration: underline;
}

body {
  color: #333;
  font-family: 'Mate', serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3 {
  color: #333;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

li {
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

main {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 15px;
}

p {
  font-size: 1.25em;
}

time {
  color: #333;
}

/* Classes */

.blog,
.posts,
.reading-list {
  display: flex;
  margin: 200px 0 0;
  padding: 0px 15px;
}

.blog-posts,
.books {
  list-style-type: circle;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.intro {
  align-items: center;
  display: flex;
  height: 50vh;
  margin: 50px 0 0;
  padding: 0px 15px;
  text-align: center;
}

.nav-bottom {
  transform: rotate(1deg);
}

.nav-bottom nav {
  float: left;
  margin: 0 auto;
  max-width: 700px;
}

.nav-top {
  background: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  left: 0;
  margin-top: -0.5em;
  position: fixed;
  top: 0;
  transform: rotate(-1deg);
  width: 100%;
  z-index: 2;
}

.nav-top nav {
  float: left;
  margin: 0 auto;
  max-width: 700px;
  padding-left: 12px;
}

.nav-top nav ul,
.nav-bottom nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-top nav ul li,
.nav-bottom nav ul li {
  float: left;
  position: relative;
}

.nav-top nav ul li a,
.nav-bottom nav ul li a {
  display: block;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: -1px;
  padding: 15px;
  text-decoration: none;
}

.nav-top nav ul li a:hover,
.nav-top nav ul li a:active,
.nav-top nav ul li a:focus,
.nav-bottom nav ul li a:hover,
.nav-bottom nav ul li a:active,
.nav-bottom nav ul li a:focus {
  color: #0b57f1;
  text-decoration: underline;
}

.nav-top nav:after,
.nav-bottom nav:after {
  clear: both;
  content: '';
  display: table;
}

.quote {
  margin-top: 8em;
}

.site-header {
  font-size: 1.75em;
  padding: 8px;
}

.skip {
  margin-top: 0.5em;
  padding: 0.5em;
}

.skip a {
  color: rgba(255,255,255,0.75);
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}

.skip a:focus {
  color: #333;
  height:auto;
  position:static;
  width:auto;
}

.tolkien a {
  color: #fff;
}
