<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The blog of devin morgenstern, mostly books and tutorials.">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/rouge.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="nav-top" role="banner">
      <aside class="skip">
        <a href="#main-content">skip to main content</a>
      </aside>
      <div class="container">
        <h1 class="site-header"><a href="/">{{ site.title }}</a></h1>
        <nav>
          <ul>
            <li><a href="/" id="home-link">home</a></li>
            <li><a href="/blog" id="blog-link">blog</a></li>
            <li><a href="/books" id="book-link">books</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main-content">
    <article>
      {{ content }}
    </article>
    <footer class="nav-bottom">
      <nav>
        <ul>
          <li><a href="mailto:devinrm@protonmail.com">email</a></li>
          <li><a href="https://github.com/devinrm">github</a></li>
          <li><a href="https://twitter.com/devinrm_">twitter</a></li>
        </ul>
        <ul>
          <li class="copyright">copyright © 2017 devin morgenstern</li>
        </ul>
      </nav>
    </footer>
    </main>
    <script type="text/javascript" src="/assets/urlHighlighter.js"></script>
  </body>
</html>
