<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/rouge.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="nav-top" role="banner">
      <aside class="skip">
        <a href="#main-content">skip to main content</a>
      </aside>
      <div class="container">
      </div>
    </header>
    <main id="main-content">
    <article>
      {{ content }}
    </article>
    <footer class="nav-bottom">
    </footer>
    </main>
    <script type="text/javascript" src="/assets/urlHighlighter.js"></script>
  </body>
</html>
